<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block head_title %} Blog {% endblock %}</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
        <script src="https://kit.fontawesome.com/4f69aa2897.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        {% include 'blog/navbar.html' %}
        <!-- Page header with logo and tagline-->

       {% block main_area %}
        {% endblock %}
                <!-- Side widgets-->
              <!--  <div class="col-lg-4">
                    &lt;!&ndash; Search widget&ndash;&gt;
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; Categories widget&ndash;&gt;
                    <div class="card mb-4" id="categories-card">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                    <ul class="list-unstyled mb-0">
                                        {% for category in categories %}
                                        <li><a href="{{ category.get_abolute_url }}">{{ category }}
                                        ({{ category.post_set.count }})</a></li>
                                        {% endfor %}
                                        <li>
                                            <a href="/blog/category/no_category/">미분류
                                            ({{  no_catetory.post_count}})</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>
        </div>
        {% include 'blog/footer.html' %}
    </body>
</html>
